@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Realise Software</h1>
    <p><img src="/i/logos/realise-logo-s.png" /></p>
</div>

