@page
@model IndexModel
@{
    ViewData["Title"] = "Logos";
}

<div class="text-center">
    <h1 class="display-4">Logos</h1>
    <p><img src="https://www.realise.software/i/logos/realise-logo-s.png" /></p>
    <p><img src="https://www.realise.software/i/logos/realise-logo-m.png" /></p>
    <p><img src="https://www.realise.software/i/logos/realise-logo-l.png" /></p>
    <p><img src="https://www.realise.software/i/logos/realise-logo.svg" /></p>
</div>

